*{
    padding:0;
    margin: 0;
    list-style: none; 
}
/* nav bar styles */

.no-scroll{
    overflow-y: hidden; 
}

.nav-bar {
    background-image: url('assets/back-ground.jpg');    
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-list{
    margin-left: 30px;
}

body > header > nav > div > ul > li:nth-child(1) > a > img{
    height: 70px;
    width: 70px;
    border-radius: 50px; 
}

body > header > nav > div > ul > li:nth-child(9) > a > button{
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 15px;
    color: black;
    background: rgb(83, 0, 255);
    background: linear-gradient(109.6deg, rgb(156, 252, 248) 11.2%, rgb(110, 123, 251) 91.1%);
}

a{
    text-decoration: none;
}

.nav_link {
   

    background: linear-gradient(109.6deg, rgb(156, 252, 248) 11.2%, rgb(110, 123, 251) 91.1%);
   background-size: 100%;
   -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 5px;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
}

@media (max-width:768px) {

body.active{
    position: fixed; 
    
}

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-bar{
        height: 70px;
        display: flex;
        align-items: center;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 30px;
        gap: 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-image: url('assets/back-ground.jpg'); 
        transition: 0.3s;
    }

    .nav-list {
        padding-top: 0;
        margin-top: 0;
        margin: 20px;
    }

    .nav-menu.active {
        left: 0;
        
    }
}



.text{
    background-image: linear-gradient(90deg, rgba(83, 0, 255, 1) 0%, rgba(231, 172, 204, 1) 100%);
   background-size: 100%;
   -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-align: center;
}

#h1{
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
}

/* universities container codes */

.u-container{
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    margin: 20px;
}

.u-card{
    border-style:solid ;
    border-color: black;
    height: 200px;
    width: 350px;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > main > div > div > div.u-img > img{
    height: 100px;
    width: 100px;
    margin: 10px;
    padding:5px;
}

.final-text{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

@media screen and (max-width: 768px) {
    .u-container{
        display: grid;
        grid-template-rows: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr ;
        margin: 20px;
    }

    .u-card{
        height: 200px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: smaller;
        text-align: center;
    }

    body > main > div > div > div.u-img > img{
        height: 50px;
        width: 50px;
        margin: 10px;
        padding:5px;
    }
}

/* mentors section */

.m-card{
    background-color: #FCFBF4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
    margin:30px;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
}

body > main > div.m-container > div > div.m-img > img{
    height: 100px;
    width: 100px;
    margin-bottom:30px ;
    border-radius: 100%;
}

.space
{
    background-image: url('assets/back-ground.jpg');
}

@media screen and (min-width :767px) {
    .card{
        margin:150px;
        width: calc(100%/3);
    }
    
    .image-wrapper{
        height: 22vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-wrapper{
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .card:not(:first-child){
    display: none;
}

.card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 20px;
}



.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
}

/* mentors and advisors section */

.y{
    margin-top: 100px;
    
}

.mentors{
    
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    
}
.image-m{
    height: 270px;
}
.button{
    border-style: none;
    border-radius: 10px;
    width: 200px;
    height: 25px;
    background-image: url('assets/back-ground.jpg');
}
.anchor{
    color: #ffffff;
    text-decoration: none;
}

.cards-w{
display: flex;
justify-content: center;
align-items: center;
}

.cards{
    
   margin: 70px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



@media screen and (max-width: 768px){
    .mentors{
        display:flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    
}

/* footer code here  */

#footer-logo{
    border-radius: 5px;
    height: 72px;
}

.container{
    color: #ffffff;
    
}

footer{
    background-image: url('assets/back-ground.jpg');
}

.p-0{
    color: #ffffff;
}

